#-----------------------------------------
# PROJETO
#-----------------------------------------

## Diretorios ##

_anotacoes/**
_fontes/**

app/configuration/**

## Arquivos ##

#-----------------------------------------
# FRAMEWORK
#-----------------------------------------

#-----------------------------------------
# IDE
#-----------------------------------------

#-----------------------------------------
# AMBIENTE E FERRAMENTAS
#-----------------------------------------

## SO ##
.directory

## NodeJS ##
node_modules/
npm-debug.log

## Bower ##
public/vendor
