#-----------------------------------------
# PROJETO
#-----------------------------------------

## Diretorios ##

_anotacoes/**
_fontes/**

app/configuration/**

## Arquivos ##

#-----------------------------------------
# FRAMEWORK
#-----------------------------------------

#-----------------------------------------
# IDE
#-----------------------------------------

#-----------------------------------------
# AMBIENTE E FERRAMENTAS
#-----------------------------------------
.directory
vendor/
node_modules/
npm-debug.log
