@font-face {
     font-family: Lato;
     src: url('/assets/fonts/lato/Lato-Black.ttf') format("truetype"),
     url('/assets/fonts/lato/Lato-BlackItalic.ttf') format("truetype"),
     url('/assets/fonts/lato/Lato-Bold.ttf') format("truetype"),
     url('/assets/fonts/lato/Lato-BoldItalic.ttf') format("truetype"),
     url('/assets/fonts/lato/Lato-Hairline.ttf') format("truetype"),
     url('/assets/fonts/lato/Lato-Italic.ttf') format("truetype"),
     url('/assets/fonts/lato/Lato-Ligtht.ttf') format("truetype"),
     url('/assets/fonts/lato/Lato-LigthtItalic.ttf') format("truetype"),
     url('/assets/fonts/lato/Lato-Regular.ttf') format("truetype");
}

* {
	font-family: 'Lato', sans-serif;
	font-weight: 400;
}

body {
	padding-top: 50px;
}

h1 h2 {
	font-weight: 900;
}